.dealer {
  display: flex;
  width: 98.9vw;
  height: 100vh;
  background: url(https://theonlooker.net/wp-content/uploads/2017/05/Lamborghini_Launch__0006__GU38974.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.dealer__top > h2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 620;
  font-size: 30px;
  line-height: 70px;
  font-family: Roboto, "Helvetica Neue", Arial;
  position: relative;
  top: 35%;
  left: 10%;
}

.dealer__top > h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 76px;
  width: 70%;
  line-height: 65px;
  font-family: Roboto, "Helvetica Neue", Arial;
  position: relative;
  top: 35%;
  left: 10%;
}

.dealer__hexagon .MuiSvgIcon-root {
  color: #fff;
  padding-left: 5px;
}

.dealer__hexagon:hover .MuiSvgIcon-root {
  color: #181818;
  position: absolute;
  z-index: 1;
}

/* Hexagon icon */
.dealer__hexagon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  position: relative;
  transform: translate(-50%, -50%);
  top: 70%;
  right: 1000px;
  width: 45px;
  height: 25px;
  border: 2px solid transparent;
  list-style: 80px;
}

.dealer__hexagon:before,
.dealer__hexagon:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid #fff;
  transform: rotate(0deg);
  transition: 0.5s;
}

.dealer__hexagon {
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.dealer__hexagon:before {
  transform: rotate(120deg);
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.dealer__hexagon:after {
  transform: rotate(-120deg);
  border: 2px solid #fff;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.dealer__hexagon:hover,
.dealer__hexagon:hover:before,
.dealer__hexagon:hover:after {
  background: #fff;
}
