.header {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 10px;
  background-color: #181818;
  position: fixed;
  z-index: 999;
}

.header__logo {
  object-fit: contain;
  padding-left: 45px;
  padding-right: 40px;
}
.header__logo > img {
  width: 4.2rem;
}
.header__left {
  flex: 01;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.header__left > p {
  padding-right: 20px;
}

.header__left > p > a {
  font-family: Roboto, "Helvetica Neue", Arial;
  text-transform: uppercase;
  text-decoration: none;
  color: #e6e4e4;
  padding-top: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 5px;
}

.header__right > p {
  padding-right: 20px;
  padding-left: 10px;
}
.header__right > p > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #e6e4e4;
  font-family: Roboto, "Helvetica Neue", Arial;
  padding-top: 10px;
}

.header__rightIcons {
  display: flex;
  margin-right: 50px;
}

.header__rightIcons > .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  padding-right: 30px;
  color: #ddd8d8;
  font-weight: 100;
  margin-bottom: 5px;
  align-items: center;
  transition: all 0.5s ease 0s;
}

.header__rightIcons > .MuiSvgIcon-root:hover {
  color: #ffffff;
}

@media only screen and (max-width: 1026px) {
  .header__logo {
    display: flex;
    flex: 1;
  }
  .header__left {
    display: none;
  }
  .header__right {
    display: none;
  }
}
