.header {
  display: flex;
  align-items: center;
  background-color: #181818;
  position: sticky;
  z-index: 100;
  padding: 10px;
}

.header__logo {
  object-fit: contain;
  flex: 0.05;
  padding-left: 45px;
  padding-right: 40px;
}
.header__logo > img {
  width: 4.2rem;
}
.header__left {
  flex: 0.6;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.header__left > p {
  padding-right: 20px;
}

.header__left > p > a {
  font-family: Arial;
  text-transform: uppercase;
  text-decoration: none;
  color: #e6e4e4;
}

.header__right {
  display: flex;
  align-items: center;
  flex: 0.2;
  padding-right: 20px;
  margin-bottom: 5px;
}

.header__right > p {
  padding-right: 20px;
  padding-left: 10px;
}
.header__right > p > a {
  text-transform: uppercase;
  text-decoration: none;
  color: #e6e4e4;
  font-family: Arial;
}

.header__rightIcons {
  display: flex;
  flex: 0.15;
}

.header__rightIcons > .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  padding-right: 30px;
  color: #ddd8d8;
  font-weight: 100;
  margin-bottom: 5px;
  align-items: center;
}
