.popupInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 13px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px;
  flex-wrap: wrap;
}
